body {
    margin: 0;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;     
}

* {
    font-family: 'Montserrat', sans-serif;
    color:rgb(186, 186, 186)
}

.dashboard-grid {
    height: 100vh;
    width: min(95%, 70rem);
    display: grid;
    margin: auto;
    gap: 10px;   
}

.sidebar  {
    border-radius: 10px;
    background-color: rgb(38, 37, 37);
}

.header {
    background-color: rgb(38, 37, 37);
    border-radius: 10px;    
}

.main-content {
    background-color: rgb(38, 37, 37);
    border-radius: 10px;    
}


@media (min-width: 50em) {

    .dashboard-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 5fr;      
    }

    .main-content {
        grid-column: 2 / span 3;
    }
    
    .sidebar  {
        grid-column: 1;
        grid-row: 1 / span 2;    
    }

    .header {
        grid-column: 2 / span 3;
    }
   
}



img {
    height: 20px;
}