

@media (min-width: 50em) {

    .dashboard-grid {
        /* grid-template-columns: repeat(4, 1fr); */
        grid-template-rows: 1fr 5fr;      
    }

    .main-content {
        grid-column: 2 / span 3;
    }
    
    .sidebar  {
        grid-column: 1;
        grid-row: 1 / span 2;    
    }

    .header {
        grid-column: 2 / span 3;
    }
  
}

@media (max-width: 900px) {
    .sidebar {
        gap: 30px;
    }

    .item {
       display: grid;
       grid-template-columns: 1fr 150px 1fr;
       grid-template-rows: repeat(6, 1fr);
       justify-items: flex-start;
       align-items: center;
    }

    .item-2 {
        display: grid;
        grid-template-columns: 1fr 150px 1fr;
        grid-template-rows: repeat(3, 1fr);
        justify-items: flex-start;
        align-items: center;
     }

    .home-icon {
        grid-column: 2;
        grid-row: 1   
    }

    .profile-icon {
        grid-column: 2;
        grid-row: 2;
    }

    .message-icon {
        grid-column: 2;
        grid-row: 3;
    }

    .history-icon {
        grid-column: 2;
        grid-row: 4;
    }

    .task-icon {
        grid-column: 2;
        grid-row: 5;
    }

    .community-icon {
        grid-column: 2;
        grid-row: 6;
    }

    .settings-icon {
        grid-column: 2;
    }

    .support-icon {
        grid-column: 2;
        grid-row: 2;
    }

    .privacy-icon {
        grid-column: 2;
        grid-row: 3;
    }

    .header-bottom {
        grid-template-columns: repeat(7 , 1fr);
        
    }

    .btn-new {
       grid-column: 2 / 3;
    }

    .intro {
        grid-column: 2 / span 3;

    }


}

@media (max-width: 1060px) {


    .main-content {
        height: 120%;       
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 2% 10% 10% 10% 10% 10% 10%; 
    }

    .right-container {
        grid-column: 1 / 5;
        grid-row: 8 / 9;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10% 1fr ;
        gap: 10px;
    }

    .title-3 {
        grid-column: 2/ 3;
        grid-row: 1 /2;
    }

   .super-cool {
        grid-column: 1/ span 4;
   }

   .less-cool {
        grid-column: 1 / span 4;
        grid-row: 3 / 4;
   }

   .impossible {
        grid-column: 1 / span 4;
        grid-row: 4 / 5;
   }

   .easy {
        grid-column: 1 / span 4;
        grid-row: 5 /6;
   }

   .blocker {
        grid-column: 1 / span 4;
        grid-row: 6 /7;
   }

   .money {
        grid-column: 1/ span 4;
        grid-row: 7 / 8;
   }



}

